.reply-comment-div
{
    margin-left: 8%;
    margin-right: 5%;
    margin-top: 5px;
    display: flex;
    flex-wrap: nowrap;
}

.reply-comment-div > img
{
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-right: 1.5%;
}

.reply-comment-div > textarea
{
    margin-right: 1.5%;
}

.reply-comment-div button
{
    background-color: #2AC0D1;
    color: black;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    width: 80px;
    height: 35px;
    align-self: center;
}

.reply-comment-div button:hover
{
    cursor: pointer;
}

.reply-comment-div > div > div
{
    color: #2AC0D1;
}

.reply-comment-div > div > div:hover
{
    cursor: pointer;
}