.App
{
    width: 100%;
}

.sort-select
{
    margin-left: 7.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 22px;
    border: none;
    border-radius: 4px;
    background-color: #2AC0D1;
    color: whitesmoke;
}

.sort-select:hover
{
    cursor: pointer;
}